# See https://help.github.com/articles/ignoring-files/ for more about Ignoring files

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# supabase
**/supabase/migrations

# nx
.nx/cache

# ai
.idx/

# Other common ignores
dist/
tmp/
*.log
*.tgz
*.swp

# Add any specific project files you want to ignore below this line

