@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 343 80% 10%;
    --foreground: 38 100% 95%;
    --card: 343 80% 14%;
    --card-foreground: 38 100% 95%;
    --popover: 343 80% 8%;
    --popover-foreground: 38 100% 95%;
    --primary: 346 82% 67%;
    --primary-foreground: 346 100% 10%;
    --secondary: 343 50% 22%;
    --secondary-foreground: 38 100% 95%;
    --muted: 343 50% 22%;
    --muted-foreground: 38 40% 75%;
    --accent: 0 100% 88%;
    --accent-foreground: 343 80% 15%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 343 80% 20%;
    --input: 343 80% 20%;
    --ring: 346 82% 67%;
    --chart-1: 346 80% 60%;
    --chart-2: 0 80% 80%;
    --chart-3: 38 80% 80%;
    --chart-4: 343 80% 50%;
    --chart-5: 350 80% 70%;
    --radius: 1rem;
  }
  .light {
    --background: 38 100% 95%;
    --foreground: 343 80% 15%;
    --card: 0 0% 100%;
    --card-foreground: 343 80% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 343 80% 15%;
    --primary: 343 80% 29%;
    --primary-foreground: 38 100% 95%;
    --secondary: 0 100% 96%;
    --secondary-foreground: 343 80% 29%;
    --muted: 0 100% 96%;
    --muted-foreground: 343 40% 40%;
    --accent: 346 82% 67%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 20% 90%;
    --input: 0 20% 90%;
    --ring: 343 80% 29%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
